@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  width: 100vw;
  height: 100vh;
  background: #e7e7e7;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.scores {
  width: 100%;
  &--row {
    display: flex;
    justify-content: center;
  }
}

.score {
  &--box {
    border: 1px solid black;
    border-right: 0;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    &:last-of-type {
      border-right: 1px solid black;
    }

    &-partials {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }

    &-partial {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      width: 25px;
      height: 25px;
      text-align: center;
    }

    &-total {
      font-size: 30px;
      text-align: center;
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}
